* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
  color: #313638;
}

/* Scroll animation effect */
.animation {
  opacity: 0;
  transition: all 0.7s ease-out;
  transition-delay: 0.3s;
}

.scroll-animation {
  opacity: 1;
  transform: translateX(50px);
  margin-left: -100px;
}

.main-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid gray;
  z-index: 1;
}

.navbar-container {
  width: 80%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 30px;
  font-weight: 600;
  color: black;
  font-size: larger;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #313638;
  font-weight: 600;
  border-bottom: 3px solid #313638;
  text-decoration: none;
}

.nav-link.active {
  color: #313638;
  font-weight: 600;
  border-bottom: 3px solid #313638;
}

/* Mobile navigation */
.ham-burger {
  display: none;
}

.mobile-nav {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 69px;
  left: 8px;
  background-color: white;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: center;
}

/*  Hero Section */
.hero-section {
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  width: 300px;
  font-size: 4.3rem;
  line-height: 0.9;
}

.hero-left p {
  font-size: 18px;
  font-weight: 600;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.contact-btn {
  color: white;
  background-color: #313638;
  padding: 6px 10px;
  text-decoration: none;
  border: 1px solid #313638;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 500;
}

.project-btn {
  color: black;
  padding: 6px 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  background-color: white;
  border: 1px solid gray;
}

.hero-right {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 50%;
}

.hero-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* About Page */
.about-me {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-left: -100px;
}

.about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 6px;
}

.about-hr {
  width: 60px;
  height: 4px;
  background-color: #313638;
  margin-left: -60px;
}

.about-content {
  display: flex;
}

.content-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aboutButton{
  margin-top: 10px;
}

.content-right p {
  font-size: 14px;
}

.border {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 12px solid #313638;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border img {
  width: 280px;
  height: 280px;
  position: inherit;
  background-color: green;
}

.skills {
  width: 80%;
  height: 300px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
}

.skill-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill-item {
  display: flex;
  gap: 10px;
}

.skillsContainer{
  display: flex;
  flex-direction: column;
}

.skillsContainer ul {
  display: flex;
  gap: 40px;
  font-size:30px;
  list-style: none;
  margin-top: 4px;
}

/* Project Section */
.project-container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-left: -100px;
}

.projects-header {
  margin-top: 60px;
}

.projects-hr {
  width: 60px;
  height: 4px;
  background-color: #313638;
  margin-left: 2px;
}

.projects-group {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: space-between; */
}

.card {
  width: 350px;
  height: 250px;
  aspect-ratio: 1 /0.7;
  border-radius: 10px;
  background-color: white;
  position: relative;
  cursor: pointer;
  /* z-index: -2; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  object-position: 50% 90%;
  transition: 0.5s ease-in-out;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h3 {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content h3 {
  margin-bottom: 12px;
}

.card:hover .content h3 {
  opacity: 1;
}

.showMoreBtn,
.showLessBtn {
  color: black;
  padding: 4px 34px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Page */
.contact-me {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-left: -100px;
}

.contact-hr {
  width: 60px;
  height: 4px;
  background-color: #313638;
  margin-left: -80px;
}

.contact-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info {
  width: 50%;
}

.contact-form {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #313638;
}

form {
  width: 90%;
  height: 340px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 6px;
}

.form-input {
  padding: 8px;
  border: 1px solid black;
  /* border-radius: 5px; */
}

form button {
  color: white;
  height: 30px;
  border: none;
  margin-top: 20px;
  background-color: #313638;
}

.address-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.address-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.address-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.address-item i {
  font-size: 35px;
}

.fa-location-dot{
  width: 37px;
}

.address-info li {
  display: flex;
  gap: 8px;
}

.address-item img {
  width: 40px;
  height: 40px;
}

.aboutItemHeading{
  font-weight: 600;
}

.address-item p {
  font-size: 14px;
}

.notification {
  width: 180px;
  height: 50px;
  display: flex;
  position: absolute;
  bottom: 4%;
  left: 42%;
  right: 50%;
  gap: 14px;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid green;
  border-radius: 10px;
}

.notification i{
  font-size: 16px;
  color: green;
}

#notificationBtn {
  font-size: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: none;
  border-radius: 50px;
  background-color: none;
}

#notificationBtn:hover {
  width: 24px;
  height: 24px;
  color: green;
  border: 1px solid green;
  border-radius: 50px;
}

.notification p {
  color: green;
}

main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  Footer section */
footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.footer-container {
  width: 80%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-social a {
  color: white;
  text-decoration: none;
}

.footer-social a:hover {
  color: grey;
}

.hidden {
  display: none;
}

/*  Mobile devices */
@media only screen and (max-width: 786px) {
  .navbar-container {
    width: 95%;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-menu {
    display: none;
  }

  .ham-burger {
    display: flex;
  }

  .ham-burger-icon {
    width: 30px;
  }

  .close-icon {
    width: 40px;
  }

  .mobile-nav a {
    color: black;
    padding: 12px;
    border-bottom: 1px solid black;
    text-decoration: none;
  }

  .mobile-nav a:hover {
    color: white;
    background-color: grey;
  }

  .nav-link.active {
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
  }

  /* Hero Section */
  .hero-section {
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
  }

  .hero-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 0.9;
    text-align: center;
    /* border: 2px solid green; */
  }

  .hero-left p {
    font-size: 16px;
    font-weight: 600;
  }

  .hero-buttons {
    display: flex;
    font-size: 14px;
    gap: 20px;
  }

  .hero-right {
    display: none;
  }

  main {
    width: 100%;
    display: flex;
    gap: 50px;
  }

  /* About section */
  .about-me {
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -80px;
  }

  .about-heading h1 {
    text-align: center;
    font-size: 25px;
  }

  .about-content {
    display: flex;
  }

  .content-left {
    display: none;
  }

  .content-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .content-right p {
    width: 95%;
    font-size: 14px;
  }

  .skillsContainer{
    display: flex;
    flex-direction: column;
  }
  
  .skillsContainer ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-top: 4px;
  }

  /* Project Section */
  .project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-left: -60px;
  }
  .projects-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: -40px;
    gap: 30px;
  }

  /* Contact Page */
  .contact-me {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 70px;
  }

  .contact-hr {
    width: 75px;
    height: 4px;
    background-color: black;
    margin-left: -70px;
  }

  .contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-info {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }

  form {
    width: 95%;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 6px;
  }

  .form-input {
    padding: 8px;
    border: 1px solid black;
    /* border-radius: 5px; */
  }

  form button {
    color: white;
    height: 30px;
    border: none;
    margin-top: 20px;
    background-color: black;
  }

  .address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .address-item {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .address-info li {
    display: flex;
    gap: 8px;
  }

  .address-item img {
    width: 230px;
    height: 30px;
  }

  .address-item h4 {
    font-size: 14px;
  }

  .address-item p {
    font-size: 12px;
  }

  .notification {
    width: 180px;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: -12%;
    left: 25%;
    right: 25%;
    gap: 14px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid green;
    border-radius: 10px;
  }

  /*  Footer section */
  footer {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 100px;
    background-color: black;
  }

  .footer-container {
    width: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .footer-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-social {
    width: 100%;
  }

  .social-icon {
    font-size: 20px;
  }

  .hidden {
    display: none;
  }
}

/* Ultra wide screens */
@media only screen and (min-width: 2560px) {
  .container {
    width: 1300px;
  }

  .navbar-container {
    width: 1300px;
  }

  .hero-section {
    width: 1300px;
  }

  .about-me {
    width: 1300px;
  }

  .project-container {
    width: 1300px;
  }

  .projects-group{
    width: 1300px;
    justify-content: center;
  }

  .contact-me {
    width: 1300px;
  }

  footer{
    width: 100vw;
  }
  .footer-container {
    width: 1300px;
    margin: auto;
  }
}
